<h1>Stop Steve Bannon!!!!!!!?!?!?!?!?!?</h1>
<%= link_to 'About', about_path %>
<% @states.each do |state, pols| %>
  <h2><%= state %></h2>
  <table>
    <tr>
      <th>Position</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Party</th>
      <th>Denounced Bannon?</th>
      <th>Phone</th>
    </tr>
  <% pols.each do |data| %>
    <tr>
      <td><%= data.position=='Sen' ? 'Sen' : 'Rep' %></td>
      <td><%= data.first_name %></td>
      <td><%= data.last_name %></td>
      <td><%= data.party=='D' ? 'Democrat' : 'Republican'%> </td>
      <td><%= data.denounced ? 'Denounced' : 'Call him/her!'%></td>
      <td><%= data.phone %></td>
    </tr>
  <% end %>
  </table>
<% end %>
